@import url("../styles/fonts.css");
@import "tailwindcss";

@theme {
  --color-primary: #37353E;
  --color-secondary: #44444E;
  --color-tertiary: #696971;

  --color-red: #f04438;
  --color-green: #12b76a;

  --color-stroke-primary: #D3DAD9;

}

body {
  font-family: "inter";
}
