@import url('../styles/fonts.css');
@import "tailwindcss";


@theme {
  --color-primary: #101828;
  --color-secondary: #344054;
  --color-tertiary: #667085;

  --color-red: #f04438;
  --color-green: #12b76a;

  --color-stroke-primary: #e4e7ec;
  --color-stroke-secondary: #344054;
}

body {
  
  font-family: "inter";
}